/*/*====================*/
/*=== Reset Styles ===*/
/*====================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  line-height: 1;
/*  font-family: 'Droid Sans', Helvetica, Arial, sans-serif;*/
font-family: Helvetica, Arial, sans-serif;
}

h1, h2 {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.right {
  float: right;
}

.left {
  float: left;
}


/*/*====================*/
/*=== Patterns ===*/
/*====================*/

header {
  background: #fff;
  height: 80px;
}

.container {
  max-width: 90%;
  margin: auto;
  height: 100%;
}

footer {
  background: black;
  height: 300px;
}




/*/*====================*/
/*=== Home ===*/
/*====================*/


/*=== Banner Slider ===*/

section.banner {
  background: #404040;
  height: 460px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  padding-top: 100px;
}

section.banner h1 {
  text-transform: uppercase;
  letter-spacing: 0.04em;
}



/*=== Process ===*/

section.process {
  background: #fafafa;
  text-align: center;
  padding: 60px 0;
  overflow: hidden;
}

section.process article {
  background: red;
  height: 200px;
  float: left;
  width: 30%;
  margin: 5% 2% 0 0;
}



/*=== About Us ===*/

section.about-us {
  overflow: hidden;
  padding: 60px 0;
  text-align: center;
}

section.about-us ul {
  background: #f3f3f3;
  margin-top: 40px;
  overflow: hidden;
}

section.about-us ul li {
  background: #fff;
  float: left;
  width: 20%;
  margin-right: 2%;
  height: 160px;
}

section.about-us ul li.arrow {
  background: #fafafa;
  width: 20px;
  height: 40px;
}

section.about-us a {
  color: #fff;
  padding: 10px 60px;
  background: red;
  margin-top: 80px;
}



/*=== Our Clients ===*/

section.our-clients {
  background: #fafafa;
  padding: 60px 0;
  text-align: center;
}


section.our-clients h2 {
  font-size: 3em;
  font-weight: 900;
  letter-spacing: 0.03em;
  color: #e30a25;

}

section.our-clients h3 {
  font-size: 1.1em;
  margin-top: 30px;
  color: #7E7E7E;
  color: #6e6e6e;
  letter-spacing: 0.02em;
  margin-bottom: 60px;
}




section.videos {
/*  background: #f3f3f3;*/
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
}

section.videos article{
  float: left;
  background: #fff;
  height: 200px;
  width: 32%;
  margin-right: 2%;
}

section.videos article:last-child {
  margin-right: 0%;
}

a.b {
  background: #fff;
  font-size: 1.25em;
  letter-spacing: 0.04em;
  padding: 13px 45px;
  margin-top: 200px;
  color: #e30a25;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  border: 3px solid #e30a25;
  font-family: 'Lato', Helvetica, Arial, sans-serif
}


/*=== Call to Action ===*/

section.call-to-action {
  padding: 80px 0;
}

section.call-to-action article {
  color: #fff;
  background: #cc0011;
  padding: 40px;
  width: 100%;
  overflow: auto;
}

section.call-to-action article h3 {
  float: left;
}

section.call-to-action article a {
  float: right;
}













/*/*====================*/
/*=== About ===*/
/*====================*/


/*=== Banner Slider ===*/

#about section.banner{
  background: #ccc;
  height: 300px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  padding-top: 100px;
}


/*=== Mission ===*/

#about section.mission {
  padding: 80px;
  text-align: center;
}


/*=== About Us ===*/

#about section.about-us {
  background: #fafafa;
  background: #f4f4f4;
  background: #f7f7f7;
/*  background: #f3f0ed;
  background: #f8f7f4;*/
  padding: 60px  0 100px;
}

#about section.about-us h2 {
  font-size: 3em;
  font-weight: 900;
  letter-spacing: 0.03em;
  color: #e30a25;

}

#about section.about-us h3 {
  font-size: 1.1em;
  margin-top: 30px;
  color: #7E7E7E;
  color: #6e6e6e;
  letter-spacing: 0.02em;
  margin-bottom: 60px;
}




#about section.about-us ul {
  background: transparent;
}

#about section.about-us ul li {
  width: 23.5%;
  margin-right: 2%;
  height: 100%;
  background: transparent;
}

#about section.about-us ul li:last-child {
  margin-right: 0;
}


#about section.about-us ul li img {
  width: 100%;
}

#about section.fouders {
  padding: 60px 0;
  overflow: hidden;
  text-align: center;
}

#about section.fouders article {
  background: #fafafa;
  float: left;
  width: 48%;
  margin-right: 1%;
  padding: 20px;
}

#about section.fouders article p {
  text-align: left;
}


#about section.advisors {
  padding: 60px 0;
  overflow: hidden;
  text-align: center;
}

#about section.advisors article {
  background: #fafafa;
  float: left;
  width: 48%;
  margin-right: 1%;
  padding: 20px;
}

#about section.advisors article p {
  text-align: left;
}








/*=== Contatc Us ===*/


#contact section.banner {
  height: 300px;
}

#contact section.contact-ways {
  background: red;
  padding: 60px 0;
  overflow: hidden;
}

#contact section.form {
  background: #fafafa;
  padding: 30px 0;
  overflow: hidden;
}

#contact form input {
  width: 100%;
  margin-bottom: 30px;
}

/*=== offices ===*/

section.offices{
  overflow: hidden;
  padding: 60px 0;
  text-align: center;
}

section.offices ul {
  margin-top: 40px;
  overflow: hidden;
}

section.offices ul li {
  float: left;
  width: 32%;
  margin-right: 2%;
  overflow: hidden;
}

section.offices ul li iframe {
  width: 100%;
  height: 200px;
}


section.offices ul li:last-child {
  margin-right: 0%;
}

section.map {
  background: #707070;
  height: 400px;
}










































