/*/*====================*/
/*=== Reset Styles ===*/
/*====================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.right {
  float: right;
}

.left {
  float: left;
}


/*/*====================*/
/*=== Patterns ===*/
/*====================*/

header {
  background: #fff;
  height: 80px;
}

.container {
  max-width: 90%;
  margin: auto;
  height: 100%;
}

footer {
  background: black;
  height: 300px;
}




/*/*====================*/
/*=== Home ===*/
/*====================*/


/*=== Banner Slider ===*/

section.banner {
  background: #404040;
  height: 460px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  padding-top: 100px;
}



/*=== Process ===*/

section.process {
  background: #fafafa;
  text-align: center;
  padding: 60px 0;
  overflow: hidden;
}

section.process article {
  background: red;
  height: 200px;
  float: left;
  width: 30%;
  margin: 5% 2% 0 0;
}



/*=== About Us ===*/

section.about-us {
  overflow: hidden;
  padding: 60px 0;
  text-align: center;
}

section.about-us ul {
  background: #f3f3f3;
  margin-top: 40px;
  overflow: hidden;
}

section.about-us ul li {
  background: #fff;
  float: left;
  width: 20%;
  margin-right: 2%;
  height: 160px;
}

section.about-us ul li.arrow {
  background: #fafafa;
  width: 20px;
  height: 40px;
}

section.about-us a {
  color: #fff;
  padding: 10px 60px;
  background: red;
  margin-top: 80px;
}



/*=== Our Clients ===*/

section.our-clients {
  background: #fafafa;
  padding: 60px 0;
  text-align: center;
}

section.videos {
  background: #f3f3f3;
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
}

section.videos article{
  float: left;
  background: #fff;
  height: 200px;
  width: 30%;
  margin-right: 2%;
}

section.clients {
  margin-top: 50px;
}

section.clients ul {
  background: #f3f3f3;
  overflow: hidden;
  margin-top: 20px;
}

section.clients li {
  background: #fff;
  float: left;
  padding: 30px;
  width: 18%;
  margin: 0 1% 4% 0;
}



/*=== Call to Action ===*/

section.call-to-action {
  padding: 80px 0;
}

section.call-to-action article {
  color: #fff;
  background: #cc0011;
  padding: 40px;
  width: 100%;
  overflow: auto;
}

section.call-to-action article h3 {
  float: left;
}

section.call-to-action article a {
  float: right;
}













/*/*====================*/
/*=== About ===*/
/*====================*/


/*=== Banner Slider ===*/

#about section.banner{
  background: #ccc;
  height: 300px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 3em;
  padding-top: 100px;
}


/*=== Mission ===*/

#about section.mission {
  padding: 80px;
  text-align: center;
}


/*=== About Us ===*/

#about section.about-us {
  background: #f4f4f4;
}

#about section.about-us ul {
  background: #ccc;
}

#about section.about-us ul li {
  width: 24%;
  margin-right: 1%;
  height: 180px;
  margin-bottom: 2%;
}

#about section.fouders {
  padding: 60px 0;
  overflow: hidden;
  text-align: center;
}

#about section.fouders article {
  background: #fafafa;
  float: left;
  width: 48%;
  margin-right: 1%;
  padding: 20px;
}

#about section.fouders article p {
  text-align: left;
}


#about section.advisors {
  padding: 60px 0;
  overflow: hidden;
  text-align: center;
}

#about section.advisors article {
  background: #fafafa;
  float: left;
  width: 48%;
  margin-right: 1%;
  padding: 20px;
}

#about section.advisors article p {
  text-align: left;
}




















































