/*/*====================*/
/*=== Reset Styles ===*/
/*====================*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}


/*/*===================*/
/*===== Patterns =====*/
/*===================*/

.container {max-width: 90%; margin: auto; height: 100%;}
.right {float: right;}
.left {float: left;}


h1, h2 {
  font-family: 'Lato', Helvetica, Arial, sans-serif; word-spacing: 0.1em; text-transform: uppercase;
}

header {
  height: 100px;
  border-top: 4px solid #E30A25;
}

header ul li {
  float: left;
  margin: 30px 20px 0 0;
}

.cover {
  background: #404040;
  color: #000;
  text-align: center;
  font-size: 3em;
}

#home h2, #about h2 {
  color: #503C3C;
  font-weight: 900;
  letter-spacing: 0.03em;
  font-size: 3.2em;
  text-align: center;
}

#home h2 span, #about h2 span {
  color: #e30a25;
}

#home p.sub, #about p.sub {
  color: #6A6A6A;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.6em;
  text-align: center;
  margin-top: 20px;
}

a.b {
  color: #e30a25;
  padding: 10px 60px;
  background: transparent;
  border: 3px solid #e30a25;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 0.04em;
  word-spacing: 0.2em;
  font-size: 1.1em;
}

.c-t-a {
  padding: 80px 0;
}

.c-t-a section {
  color: #fff;
  background: #cc0011;
  padding: 40px;
  width: 100%;
  overflow: auto;
}


/*/*===============*/
/*===== Home =====*/
/*===============*/

#home .cover {
  height: 360px;
  padding-top: 80px;
}

#home .cover h1 {
  font-weight: 700;
  font-size: 1.4em;
}

/*===== Our Way =====*/

#home .process {
  background: #fafafa;
  padding: 80px 0;
  overflow: hidden;
}

#home section.methodologies {
  background: black;
  overflow: hidden;
  margin-top: 40px;
}

#home section.methodologies article {
  background: red;
  height: 200px;
  float: left;
  width: 32%;
  margin-right: 2%;
  text-align: center;
  padding-top: 60px;
}

#home section.methodologies article:last-child {
  margin-right: 0;
}


/*===== About us =====*/

#home .about-us {
  overflow: hidden;
  padding: 80px 0 100px;
}

#home .about-us ul {
  margin-top: 40px;
  overflow: hidden;
}

#home .about-us ul li {
  float: left;
  width: 21%;
  margin-right: 2%;
}

#home .about-us ul li img {
  width: 100%;
}

#home .about-us ul li.arrow {
  width: 3%;
  height: 100px;
}

#home .about-us ul li.arrow img {
  width: 21px;
  margin-top: 85px;
}

#home .about-us ul li:last-child {
  margin-right: 0;
}


/*=== Our Clients ===*/

#home .our-clients {
  background: #fafafa;
  padding: 80px 0;
}

#home section.videos {
  overflow: hidden;
  margin-top: 40px;
}

#home section.videos article{
  float: left;
  background: #fff;
  height: 200px;
  width: 32%;
  margin-right: 2%;
}

#home section.videos article:last-child {
  margin-right: 0%;
}





/*/*================*/
/*===== About =====*/
/*================*/


#about .cover {
  height: 260px;
  padding-top: 80px;
}

#about .cover h1 {
  font-weight: 700;
  font-size: 1.4em;
}

#about .mission {
  padding: 80px 0;
  text-align: center;
}

#about .mission h3 {
  line-height: 1.8em;
}


/*=== Team ===*/

#about .team {
  background: #fafafa;
  padding: 80px 0 100px;
  overflow: hidden;
}

#about .team ul {
  margin-top: 50px;
  overflow: hidden;
}

#about .team ul li {
  width: 23.5%;
  margin-right: 2%;
  height: 100%;
  float: left;
}

#about .team ul li:last-child {
  margin-right: 0;
}

#about .team ul li img {
  width: 100%;
}


/*=== Others ===*/

#about .others {
  padding: 80px 0;
  overflow: hidden;
}

#about .others section {
  background: #fff;
  overflow: hidden;
}

#about .others section article {
  float: left;
  width: 50%;
}

#about .others section article img {
  float: left;
  width: 50%;
}












/*=== Contatc Us ===*/


#contact section.banner {
  height: 260px;
  padding: 0;
}


#contact .cover-image {
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}

#contact .cover-image img {
  width: 100%;

}








#contact section.contact-ways {
  padding: 60px 0;
  overflow: hidden;
}

#contact section.form {
  background: #fafafa;
  padding: 30px 0;
  overflow: hidden;
}

#contact form input {
  width: 100%;
  margin-bottom: 30px;
}

/*=== offices ===*/

section.offices{
  overflow: hidden;
  padding: 60px 0;
  text-align: center;
}

section.offices ul {
  margin-top: 40px;
  overflow: hidden;
}

section.offices ul li {
  float: left;
  width: 32%;
  margin-right: 2%;
  overflow: hidden;
}

section.offices ul li iframe {
  width: 100%;
  height: 200px;
}


section.offices ul li:last-child {
  margin-right: 0%;
}

section.map {
  background: #707070;
  height: 400px;
}










































