<header class="default">
  <div class="containner">
    
    <h1>
      <a href="/" title="Pág. Inicial">
        <img class="logo" src="/images/logo-hemobile.jpg" alt="HE:mobile">
      </a>
    </h1>

    <a class="logo-menu" href="http://www.helabs.com.br" title="Pág. Inicial da HE:labs">
      <img src="/images/logo-helabs.jpg" alt="HE:labs">
    </a>

    <!--
      <a class="languages" href="/en/">
      This site in english
    </a>
    -->

    <nav id="menu2">
      <ul>
        <li><a href="/magica">Mágica</a></li>
        <!--
        <li><a href="/cliente-feliz">HE:<span class="doispontos">❤</span></a></li>
        <li><a href="/sobrenos">Sobre nós</a></li>
        <li><a href="/nosso-time">Time</a></li>
        -->
        <li><a href="/fale-conosco">Fale Conosco</a></li>
      </ul>
    </nav>
    
    <a id="menu-trigger">
      Menu
    </a>

  </div>
</header>
