<head>
	
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,500,300italic,700|Open+Sans' rel='stylesheet' type='text/css'>
  <title>{{ page.title }} &mdash; HE:mobile</title>

  <meta name="apple-mobile-web-app-title" content="HE:mobile">

  <meta http-equiv="content-language" content="pt-br">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
	
  <meta name="copyright" content="© 2013 HE:mobile" />
  <meta name="author" content="HE:mobile - http://mobile.com.br">

  <meta name="robots" content="index, follow">
  <meta content="he:mobile, hemobile, mobile software development, mobile, desenvolvimento, mobile, sistemas, baas, cloud, programação, ios, android, startup, aplicativos, aplicações, software, google glass, lean, dispositivo móvel, mobilidade" name="keywords">
  <meta content="{{ page.description }}" name="description">

  <link rel="icon" type="image/png"  href="/favicon.png">
  
  <!-- Open Graph -->
  <meta property="og:title" content="{{ page.title }} - HE:mobile">
  <meta property="og:site_name" content="hemobile.com.br">
  <meta property="og:image" content="http://hemobile.com.br/images/logo_sq.jpg">
  <meta property="og:description" content="{{ page.description }}">
	
  <!-- Media -->
  <meta name="viewport" content="initial-scale=1">
  
   <link rel="stylesheet" type="text/css" href="/stylesheets/core.css">
   <!--<link rel="stylesheet" type="text/css" href="/stylesheets/he-core.css"> -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/prettyPhoto.css">

</head>
